*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.boxed{
    width:340px;
    height: 340px;
    z-index: 0;
    position: relative;
    background-color: rgb(194, 122, 28);
    transition: 1s;
}
.boxed:hover{
    background-color:#F4DF4EFF;
    transform: rotate(-180deg);
}
/****************************************/
/****************** 111  *****************/
/****************************************/

.box_1{
    width:320px;
    height: 320px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    background-color:#949398FF;
    transition: 2s;
}
.box_1:hover{
    background-color:#F4DF4EFF;
    transform: rotate(180deg);
}
/****************************************/
/****************** 2222 *****************/
/****************************************/
.box_2{
    width:300px;
    height: 300px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    background-color: #FC766AFF;
    transition: 1.9s;
}
.box_2:hover{
    background-color: #5B84B1FF;
    transform: rotate(-180deg); 
}
/****************************************/
/****************** 33333 *****************/
/****************************************/

.box_3{
    width:280px;
    height: 280px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 3;
    background-color: #5F4B8BFF;
    transition: 1.8s;
}
.box_3:hover{
    background-color: #E69A8DFF;
    transform: rotate(180deg);
}
/****************************************/
/****************** 4444 *****************/
/****************************************/
.box_4{
    width:260px;
    height: 260px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 4;
    background-color: #42EADDFF;
    transition: 1.7s;
}
.box_4:hover{
    background-color: #CDB599FF;
    transform: rotate(-180deg);
}
/****************************************/
/****************** 55555 *****************/
/****************************************/
.box_5{
    width:240px;
    height: 240px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
    background-color: #000000FF;
    transition: 1.6s;
}
.box_5:hover{
    background-color: #FFFFFFFF;
    transform: rotate(180deg);
}
/****************************************/
/****************** 666666 *****************/
/****************************************/

.box_6{
    width:220px;
    height: 220px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 6;
    background-color:#00A4CCFF;
    transition: 1.4s;
}
.box_6:hover{
    background-color:#F95700FF;
    transform: rotate(-180deg);
}
/****************************************/
/****************** 7777777 *****************/
/****************************************/























